.titleBar {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.butt {
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  height: 60px;
  width: 199px;
  padding: 20px 40px;
}

.description {
  width: 70vw;
  margin: 8.5rem auto 5rem auto;
  font-family: "Readex Pro";
  font-style: bold;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
}

.container {
  padding: 32px 64px;
}

.title,
.description {
  text-align: center;
}

.grid {
  margin: auto;
  border-radius: 3px;
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 446px) {
  .titleBar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .description {
    margin: auto;
  }
}
