.titleBar {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.butt {
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  height: 60px;
  width: 199px;
  padding: 20px 40px;
}

.description {
  /* width: 70%; */
  width: 70vw;
  height: 70vh;
  /* height: 98px; */
  margin: 8.5rem auto 5rem auto;
  font-family: "Readex Pro";
  font-style: bold;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
}

.container {
  padding: 32px 64px;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.description {
  text-align: center;
}

.grid {
  margin-top: 3%;
  border-radius: 3px;
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 526px) {
  .description {
    width: 40%;
    height: 40px;
    /* margin: 5.5rem auto 5rem auto; */
    font-style: bold;
    font-weight: 500;
    font-size: 26px;
    line-height: 25px;
  }

  .grid {
    margin-top: 40%;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #222;
  }
}
